<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hero Denim Experience</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Denim</a></li>
          <li><a href="#">Prendas</a></li>
          <li><a href="#">Niños</a></li>
          <li>BUSCADOR</li>
        </ul>
      </nav>
      <img src="" alt="Logo Hero Denim" />
    </header>
    <h2>HOMBRE</h2>
    <ol>
      {% for categoria in hombre %}
      <li>{{ categoria }}</li>
      {% endfor %}
    </ol>
    <h2>NIÑO</h2>
    <ol>
      {% for categoria in niño %}
      <li>{{ categoria }}</li>
      {% endfor %}
    </ol>
  </body>
</html>