<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Hero Denim Experience | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <ul>
        <li>DENIM</li>
        <li>NIÑOS</li>
      </ul>
      <img alt="Logo Hero Denim" />
    </header>
    {% block navbar %}{% endblock navbar %}
    {% block content %}{% endblock content %}
    <footer> Todos los derechos reservados </footer>
  </body>
</html>
