# base de datos para pruebas en local
**.sqlite3

# archivos compilados de python
*.pyc

# archivo de configuracion del proyecto
.env

# migraciones
**/migrations/

# archivos temporables creados por vim mientras un archivo esta abierto
**.swp

# archivo creado por pyenv para setear el entorno virtual del proyecto
.python-version

# carpeta media
**/media/

# requierements compilados con pip-tools
requirements.txt
