# base de datos para pruebas en local
**.sqlite3

# archivos compilados de python
*.pyc
**/__pycache__/

# archivo de configuracion del proyecto
.env

# archivos temporales creados por vim mientras un archivo esta abierto
**.swp

# archivo creado por pyenv para definir el virtualenv del proyecto
.python-version

# carpeta media
**/media/
